<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @spot.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @spot.long %>
</p>

<p>
  <strong>Address:</strong>
  <%= @spot.address %>
</p>



<%= link_to 'Edit', edit_spot_path(@spot) %> |
<%= link_to 'Back', spots_path %>
